* {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header-section */
.header {
    background-image: url("../resources/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.header h3 {
    font-size: 900;
    font-weight: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

/* main-section */

/* items */


.box1 {
    width: 100%;
    background-color: #D2D5DA;
    padding: 50px;
    /* border: #1D1D1F solid 2px; */
    border-radius: 50px 0px 0 50px;
    font-size: 600;
    font-weight: 1rem;
}

img {
    width: 100px;
    padding: 10px 20px;
    background-color: #F3F4F6;
    margin: 20px;
    border: none;
    border-radius: 10px;
}

.item-1 {
    display: flex;
    align-items: start;
    justify-content: space-around;
}


.iPhone {
    display: flex;
    gap: 20px;
}

.item-1 p {
    padding-top: 20px;
}

.item-2 {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.item-2 p {
    padding-top: 20px;
}

.apple-watch {
    display: flex;
    gap: 28px;
}

.item-3 {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.iMac {
    display: flex;
    gap: 28px;
}

.iMac p {
    padding-top: 20px;
}

/* coupon-div */



.coupon-container {
    padding: 50px 50px;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 100px;
}

.coupon {
    padding: 20px 100px 20px 30px;
    border: none;
    border-radius: 10px;
    /* margin-right: 50px; */
}

.submit {
    padding: 20px 20px 20px;
    background-color: #1D1D1F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

/* cost */

.price {
    display: flex;
    justify-content: space-around;
}

/* box2-started */

.box2 {
    width: 100%;
    background-color: #F3F4F6;
    padding: 50px 100px;
    /* border: #1D1D1F solid 2px; */
    border-radius: 0px 50px 50px 0px;
}

.info{
    padding-bottom: 100px;
}

.info > h3{
    padding-bottom: 50px;
}

.name{
    margin-bottom: 50px;
}

.info input {
    width: 100%;
    padding: 20px 20px 20px 30px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #E5E7EB;
}

input::placeholder {
    color: #1D1D1F;
    font-size: 20px;
    font-weight: 400;
}

.country > h4 , .code>h4 {
    padding-bottom: 50px;
}

.place {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}


.place input {
    padding: 20px 30px 20px 18px;
    border-radius: 10px;
    background-color: #E5E7EB;
}

.code input {
    padding: 20px 30px 20px 18px;
    border-radius: 10px;
    background-color: #E5E7EB;
}

.btn {
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
    background-color: #1D1D1F;
    color: #FFFFFF;
    font-size: larger;
    margin-top: 50px;
}


.main-section {
    display: flex;
    margin: 0 40px 40px 40px;
    position: relative;
    bottom: 300px;
    /* right: -80px; */
    /* border: solid 2px red; */
}

@media screen and (max-width:640px) {
    
}